.App {
    max-width: 50%;
    border: 1px solid black;
    margin: auto;
    width: 80vh;
    height: 80vh;
}

.debug {
    padding: 1em;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-family: arial;
}
